
body{
    background-image: url("code-exercises\img\mountains.jpeg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


button {
  background-color: #FFEFD5;
  color: Papayawhip;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  background-color: Papayawhip;
  color: #FFEFD5;
}

a{
  color: PaleTurquoise;
}
