.grid-container {
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: 321px 351px;
 grid-gap: 10px;
 padding: 0px;
 grid-row-gap: 0px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  width:505px;
  height: 466px;
  margin-top: 39px;
  margin-left: 767px;
  margin-right: 168px;
  margin-bottom: 519px;
}

.row-2 {
  display: flex;
  width: 363px;
  height: 486px;
  margin-top: 14px;
  margin-left: 27px;
  margin-right: 165px;
  margin-bottom: 26px;
}

.heading {
  width: 438px;
  height: 53px;
  margin-top: 22px;
  margin-left: 27px;
  margin-right: 303px;
  margin-bottom: 16px;
  font-family: 'Bernard', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 23px
}

.heading-2 {
  width: 255px;
  height: 41px;
  margin-top: 16px;
  margin-left: 154px;
  margin-right: 358px;
  margin-bottom: 14px;
  font-family: 'MADE Tommy Soft', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 23px
}

.heading-3 {
  width: 406px;
  height: 65px;
  font-family: 'MADE Tommy Soft', sans-serif;
  margin-top: 505px;
  margin-left: 165px;
  margin-right: 478px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  line-height: 23px;
}

.paragraph-1 {
  width: 254px;
  height: 366px;
  margin-top: 14px;
  margin-left: 155px;
  margin-right: 358px;
  margin-bottom: 8px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.paragraph-2 {
  width: 232px;
  height: 193px;
  margin-top: 50px;
  margin-left: 165px;
  margin-right: 175px;
  margin-bottom: 27px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.paragraph-3 {
  width: 250px;
  height: 193px;
  margin-top: 27px;
  margin-left: 165px;
  margin-right: 156px;
  margin-bottom: 26px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.paragraph-4 {
  width: 254px;
  height: 242px;
  margin-top: 80px;
  margin-left: 175px;
  margin-right: 223px;
  margin-bottom: 186px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 20px;
}
