.container-1 {
 display: flex;
 flex-direction: row;
}

.container-2 {
 display: flex;
 flex-direction: row;
}


.row {
  width:816px;
  height: 428px;
  padding-top: 73px;
  padding-left: 151px;
  padding-right: 57px;
}

.row-2 {
  width: 893px;
  height: 598px;
  padding-left: 86px;
  padding-right: 57px;
  padding-bottom:155px;
}

.heading {
  width: 436px;
  height: 54px;
  margin-top: 52px;
  margin-left: 75px;
  margin-right: 512px;
  margin-bottom: 73px;
  font-family: 'Bernard MT', serif;
  font-size: 55px;
  font-weight:normal;
}

.heading-2 {
  width: 255px;
  height: 53px;
  margin-top:167px;
  margin-left: 151px;
  margin-right: 106px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  line-height: 36px;
}

.heading-3 {
  width: 406px;
  height: 65px;
  margin-top: 92px;
  margin-left: 571px;
  margin-right: 57px;
  margin-bottom: 12px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  line-height: 36px;
}

.paragraph-1 {
  width: 286px;
  height: 404px;
  margin-left: 151px;
  margin-right: 106px;
  font-family: 'Times New Roman', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
}

.paragraph-2 {
  width: 249px;
  height: 626px;
  margin-left: 571px;
  margin-right: 214px;
  margin-bottom: 81px;
  font-family: 'Times New Roman', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
}

.column-2 {
  width: 455px;
  height: 420px;
  margin-left: 512px;
  margin-top:-454px;
  margin-right: 57px;
}

.column-4{
  width: 437px;
  height: 586px;
  margin-top:-775px;
  margin-right:512px;
  margin-left: 86px;
  margin-bottom: 166px;
}
