html {
font-size:16px;
box-sizing:border-box;
}

body {
  background-color: #DDF0D9;
  width:100%;
  margin:0;
  padding:0;
  }
  .CCLogo {
    width:198px;
    height: 119px;
    padding-top: 18px;
    padding-left: 156px;
    padding-right: 60px;
  }

  .Menu{
    width:75px;
    height: 129px;
    margin-top: 13px;
    margin-left: 61px;
    margin-right: 20px;
    margin-bottom:9px;
    line-height: 25px;
    color: #707070;
    font-size: 20px;
  }

  .imgs {
    padding-top: 9px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;

  }

  .about-title, .food, .coffee, .tea {
    width:141px;
    height: 34px;
    margin-top: 59px;
    margin-left: 60px;
    margin-bottom:31px;
    color: #707070;
    font: Helvetica 65;
    font-size: 32px;
  }
  .about-title, .food, .coffee, .tea {
    background: #F5EED4;
    width:100%;
  border-top:1rem;
  border-left: 1rem;
  border-bottom:1rem;
  }

  .About {
    width:300px;
    height: 161px;
    margin-top: 27px;
    margin-left: 60px;
    margin-right:54px;
    margin-bottom: 130px;
    color: #707070;
    font: Helvetica 45;
    font-size: 17px;
  }

  h4{
    margin-left:60px;
    margin-top:30px;
    font: Helvetica 65;
    font-size:20px;
    color:#707070;
  }

  .menu-item-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 0 1rem 0;
      margin-bottom: 10px;
  }
  .menu-item-row ul{
    width:50%;
    list-style-type: none;
    float:right;
    text-align:right;

  }
  .menu-item-row ul li{
    display: inline-block;
    width:30%;
  }

  .food-name {
    margin-left:60px;
    color:#707070;
    font: Helvetica 45;
    font-size: 16px;
  }


  .Sandwich-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 1rem 0;
    margin-bottom: 10px;
  }
  .Sandwich-name ul{
    width:60%;
    list-style-type: none;
    float:right;
    text-align:right;
  }
  .Sandwich-name ul li{
    display: inline-block;
    width:30%;
  }


  .bagels-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 1rem 0;
    margin-bottom: 10px;
  }
  .bagels-name ul{
    width:60%;
    list-style-type: none;
    float:right;
    text-align:right;
  }
  .bagels-name ul li{
    display: inline-block;
    width:30%;
  }

  .sizing-row ul{
    width:55%;
    list-style-type: none;
    float:right;
    text-align:right;
  }
  .sizing-row ul li{
    display: inline-block;
    width:30%;
  }
  .sizing-row{
    margin-top: 59px;
    margin-left: 60px;
    margin-bottom:31px;
    color: #707070;
    font: Helvetica 65;
    font-size: 32px;
  }

  .drink-name{
    color:#707070;
    font: Helvetica 45;
    font-size: 16px;
    margin-left:60px;
  }

  .drink-name{
    display: block;
    margin-inline-start: 60px;
    margin-inline-end: 0px;
  }


    .location{
      width:141px;
      height: 34px;
      margin-top: 59px;
      margin-bottom:31px;
      color: #707070;
      font: Helvetica 65;
      font-size: 32px;
      margin-left:60px;
    }

  .location-info1{
    width: 110px;
    height: 51px;
    margin-left:60px;
    font-size:14px;
    color:#707070;
    font: Helvetica 45;
    margin-bottom: 76px;
  }

  .location-info2{
    width: 110px;
    height: 51px;
    margin-left:180px;
    font-size:14px;
    color:#707070;
    font: Helvetica 45;
    margin-bottom: 76px;
    margin-top: -127px;
  }

  .location-info3{
    width: 110px;
    height: 51px;
    margin-left:300px;
    font-size:14px;
    color:#707070;
    font: Helvetica 45;
    margin-bottom: 76px;
    margin-top: -127px;
  }
  button {
      background-color:#F9E9D7;
      border:none;
      color: #707070;
      padding: 2px 16px;
      text-align: center;
      font-size: 16px;
      font: Helvetica 45;
  }


  .contact-title{
    width:141px;
    height: 34px;
    margin-top: 59px;
    margin-left:60px;
    margin-bottom:20px;
    color: #707070;
    font: Helvetica 65;
    font-size: 32px;
  }

  .contact{
    width:192px;
    height:49px;
    margin-left:136px;
    margin-right:87px;
    margin-bottom:53px;
  }
